<app-navbar></app-navbar>
  <div id="name">
    Welcome!
  </div>

  <div id="paragraph">
    In this application you can manage your cars.
    <br>
    Try to add a car from navbar.
    <br>
    You can see your upcoming service interventions in Service Calendar tab.
    <br>
    <span id="enjoy">Enjoy! </span>
  </div>

<div id="image"></div>