<div id="dx-cars-container" class="col-md-10 offset-md-1">
    <dx-data-grid
    id="gridContainer"
    [dataSource]="cars"
    [columns]="['Name', 'Details', 'Year', 'ActualKilometers', 'LastRevisionKm','LastRevisionDate', 'LastPti','LastVig', 'LastInsurance']"
    [showBorders]="true"
    [rowAlternationEnabled]="true"
    [errorRowEnabled]="false"
    (onRowRemoving)="onRowRemoving($event)"
    (onRowUpdating)="onRowUpdating($event)"
    >
    <dxo-editing mode="row" [allowDeleting]="true">
      <dxo-texts confirmDeleteMessage="Are you sure?"></dxo-texts>  
  </dxo-editing>

  <dxo-editing 
            mode="popup"
            [allowUpdating]="true">
            <dxo-popup
                title="Update your car info"
                [showTitle]="true"
                [width]="500"
                [height]="500"
            >
            </dxo-popup>
            <dxo-form>
                <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
                    <dxi-item dataField="ActualKilometers"></dxi-item>
                    <dxi-item dataField="LastRevisionKm"></dxi-item>
                    <dxi-item dataField="LastRevisionDate"></dxi-item>
                    <dxi-item dataField="LastPti"></dxi-item>
                    <dxi-item dataField="LastVig"></dxi-item>
                    <dxi-item dataField="LastInsurance"></dxi-item>
                </dxi-item>
            </dxo-form>
        </dxo-editing>


  <dxi-column dataField="Name" dataType="string" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="Details" dataType="string" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="Year" dataType="number" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="ActualKilometers" dataType="number">
    <dxi-validation-rule type="pattern" [pattern]="numericalPattern" message="Number should be an integer."></dxi-validation-rule>
    <dxi-validation-rule type="required" message="This field is required."></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="LastRevisionKm" dataType="number">
    <dxi-validation-rule type="pattern" [pattern]="numericalPattern" message="Number should be an integer."></dxi-validation-rule>
    <dxi-validation-rule type="required" message="This field is required."></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="LastRevisionDate" dataType="date" format="dd-MM-yyyy">
    <dxi-validation-rule type="range" [max]="currentDate" message="Date should be in past."></dxi-validation-rule>
    <dxi-validation-rule type="required" message="This field is required."></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="LastPti" dataType="date" format="dd-MM-yyyy">
    <dxi-validation-rule type="range" [max]="currentDate" message="Date should be in past."></dxi-validation-rule>
    <dxi-validation-rule type="required" message="This field is required."></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="LastVig" dataType="date" format="dd-MM-yyyy">
    <dxi-validation-rule type="range" [max]="currentDate" message="Date should be in past."></dxi-validation-rule>
    <dxi-validation-rule type="required" message="This field is required."></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="LastInsurance" dataType="date" format="dd-MM-yyyy" >
    <dxi-validation-rule type="range" [max]="currentDate" message="Date should be in past."></dxi-validation-rule>
    <dxi-validation-rule type="required" message="This field is required."></dxi-validation-rule>
  </dxi-column>

  </dx-data-grid>
