<nav class="navbar navbar-expand-md navbar-light bg-light" id="navbar">
    <div class="navbar-header">
      <a class="navbar-brand"> 
          <img src="../../assets/img/car-icon.png"  width="35" height="35" class="d-inline-block align-top">
          <div id="text">Car Maintenance</div></a>
    </div>
    <ul class="nav navbar-nav">

      <li class="nav-item hoverable">
          <a class="nav-link" routerLink="/home">Home</a>
      </li>

      <li class="nav-item hoverable">
        <a class="nav-link" routerLink="/adminpanel" *ngIf="role == 'admin'">Admin Panel</a>
      </li>


      <li class="nav-item hoverable">
        <a class="nav-link" routerLink="/mycars" *ngIf="role == 'user'">My cars</a>
      </li>

      <li class="nav-item hoverable">
        <a class="nav-link" routerLink="/serviceCalendar" *ngIf="role == 'user'">Service Calendar</a>
      </li>

    </ul>
    
    
    <ul class="navbar-nav ml-auto">
      <button class="btn btn-outline-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
    </ul>
    
</nav>
